*{
  padding: 0%;
  margin: 0%;
}

:root{
  --bGBody: rgb(53, 41, 126);
  --branco: white;
}

body{
  color: var(--branco);
  background-color:var(--bGBody) ;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}